*{
  font-family: system-ui;
  margin: 0;
}
:root {
  --main-color: #e91e63 ;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: auto;
}
/* Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


/* Start settings-box  */
/* Start Of Color Section  */
.settings-box {
position: fixed;
left: -200px;
top: 0;
z-index: 100;
min-height: 100vh;
width: 200px;
background-color: white;
transition: .3s;
/* border: 2px solid #EEE; */
box-shadow: 2px 0 15px 0px #00000073;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  background-color: white;
  right: -30px;
  top: 100px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.settings-box .gear {
  width: 30px;
  padding: 10px 0;
}

.settings-box .colors{
  padding: 10px;
  background-color: #EEE;
  text-align: center;
  margin: 10px;
}
.settings-box .colors-list{
  padding: 0;
}
.settings-box .colors h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
.settings-box .colors-list li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}
.settings-box .colors-list li.active,
.settings-box .colors-list li:hover {
  opacity: 1;
  border: 2px solid black;
}
.settings-box .colors-list li:first-child{
  background-color: #e91e63;
}
.settings-box .colors-list li:nth-child(2){
  background-color: #ff6f00; 
}
.settings-box .colors-list li:nth-child(3){
  background-color: #4527a0;
}
.settings-box .colors-list li:nth-child(4){
  background-color: #9ccc65;
}
.settings-box .colors-list li:nth-child(5){
  background-color: #26c6da;
}
/* End Of Color Section  */
/* Start Random Image  */
.settings-box .option-box {
  padding: 10px;
  background-color: #EEE;
  text-align: center;
  margin: 10px;
}
.settings-box .option-box h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
  display: inline-block;
  width: 50px;
  background-color: var(--main-color);
  color: white;
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  opacity: .5;
}
.settings-box .option-box .active {
  opacity: 1;
}

/* Bullets part  */
.option-box.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.option-box.toggle h3 {
  margin: 0;
}
.option-box.toggle i {
  font-size: 20px;
}

/* Reset Options  */
.reset-options{
  color: white;
  background-color: #F44336;
  border: none;
  padding: 10px 30px;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
/* Navigation Bullets  */
.nav-bullets {
  position: fixed;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  z-index: 999;
}
.nav-bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  margin: 15px 5px;
  cursor: pointer;
  position: relative;
}
.nav-bullets li:hover .tool-tip{
  display: block;
}
.nav-bullets .tool-tip {
  position: absolute;
  width: 100px;
  top: -5px;
  right: 35px;
  padding: 5px 8px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .tool-tip::after{
  content: "";
  position: absolute;
  right: -19px;
  top: 5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
}


 /* Stat Landing  */
.landing {
  background-image: url("../images/5.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .overlay {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.landing .header {
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
.landing .header .links {
  list-style: none;
  padding-right: 15px;
  padding-left: 0;
}
.landing .header .links li {
  display: inline-block;
  margin-left: 20px;
}
.landing .header .links a {
  text-decoration: none;
  color: white;
  transition: .3s;
}
.landing .header .links a.active,
.landing .header .links a:hover {
  color: var(--main-color);
}
.landing .info {
  position: absolute;
  color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing .info h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
@media (max-width: 567px) {
  .landing .info {
    width: 85%;
  }
  .landing .info h1 {
    font-size: 30px;
  }
}
.landing .info h1 span {
  color: var(--main-color);
}
.landing .info p {
  line-height: 1.6;
  font-size: 18px;
}
.landing .header i {
  display: none;
  font-size: 20px;
  position: relative;
}
.landing .header i.active::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  left: -1px;
  bottom: -14px;
}
/* Toggle menu  */

@media (max-width: 991px){
  .landing .header i {
    display: block;
    cursor: pointer;
  }
  .landing .header .links.open {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 50px;
    left: 0;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }
  .landing .header .links.open li {
    display: block;
    margin-bottom: 10px;
  }
  .landing .header .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .landing .header .links {
    display: none;
  }
}


/* Start About  */
.about {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.about .info-box{
  flex: 1;
  text-align: left;
  padding: 30px;
}
.about .info-box h2{
  font-weight: bold;
  color: var(--main-color);
  font-size: 40px;
  margin: 0 0 30px;
}
.about .info-box p{
  color: #767676;
  line-height: 1.8;
  margin: 0;
}
.about .img-box{
  flex: 1;
  text-align: center;
}
.about .img-box img{
  width: 250px;
}
@media (max-width: 750px){
  .about{
    flex-direction: column;
  }
  .about .info-box h2 {
    text-align: center;
  }
}
/* End About  */


/* Start Skills  */
.skill {
  padding: 50px 0;
  background-color: #EEE;
}
.skill h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  margin: 0 0 50px;
}
.skill .skill-box {
  background-color: #FFF;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}
.skill .skill-name {
  width: 150px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.skill .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 10px;
  position: relative;
}
.skill .skill-progress span { 
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: all 1s;
}
.skill .skill-progress span::before{
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
  right: 0;
  top: -10px;
}
.skill .skill-progress span::after {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: var(--main-color);
  right: -10px;
  padding: 2px 5px;
  top: -30px;
  border-radius: 5px;
}
@media (max-width: 750px){
  .skill .skill-box {
    display: block;
  }
  .skill .skill-name {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* start Gallery  */
.gallery{
  padding: 50px 0;
}
.gallery h2{
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box{
  text-align: center;
}
.gallery .images-box img{
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #CCC;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  padding: 15px;
  background-color: #FFF;
  border: 1px solid black;
}
.popup-box img {
  max-width: 100%;
}
.left-arrow,
.right-arrow {
  font-size: 60px;
  position: fixed;
  top: 50%;
  color: white;
  z-index: 1001;
  cursor: pointer;
}
.left-arrow {
  left: 20px;
}
.right-arrow {
  right: 20px;
}
.disable {
  color: #817c7c;
}


/* Start TimeLine */
.timeline {
  padding: 50px 0;
  background-color: #ECECEC;
}
.timeline .container h2 {
  font-size: 40px;
  text-align: center;
  color: var(--main-color);
  margin: 0 auto 20px;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 100%;
  left: 50%;
  margin-right: 1px;
}
.timeline .year {
  position: relative;
  width: 50px;
  text-align: center;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.timeline .left,
.timeline .right{
  width: calc(50% - 70px);
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
}
.timeline .left {
  float: left;
}
.timeline .right{
  float: right;
}
.timeline h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline p {
  color: #666;
  margin: 0;
  line-height: 1.6 ;
}
.timeline .left::before, 
.timeline .right::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-color);
  background-color: white;
  border-radius: 50%;
  top: 20px;
}
.timeline .left::before {
  right: -40px;
}
.timeline .right::before {
  left: -39px;
}
.timeline .left::after, 
.timeline .right::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  top: 20px;
}
.timeline .left::after {
  border-color: transparent transparent transparent white;
  right: -20px;
}
.timeline .right::after {
  left: -20px;
  border-color: transparent white transparent transparent;
}
.clear {
  clear: both;
}
@media (max-width: 576px) {
  .timeline .left, 
  .timeline .right {
    width: 90%;
  }
  .timeline .left::before, 
  .timeline .right::before {
    display: none;
  }
  .timeline .left::after, 
  .timeline .right::after {
    display: none;
  }
}


/* Start Features  */
.features {
  padding: 50px 0;
}
.features h2 {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feature-box {
  text-align: center;
}
.features .feature-box img {
  height: 250px;
  max-width: 100%;
  margin-bottom: 20px;
}
.features .feature-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feature-box h4::after{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 60px;
  height: 4px;
  left: 50%;
  margin-left: -30px;
  bottom: -20px;
}
.features .feature-box p {
  width: 80%;
  line-height: 1.6;
  margin: 0 auto;
  color: #818181;
}


/* Start Testimonials  */
.testimonials {
  padding: 50px 0;
  background: linear-gradient(to right, var(--main-color) 50%, #333 50%);
}
.testimonials h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;  
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.testimonials .test-box{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .test-box > p {
  line-height: 1.5;
  font-size: 18px;
  color: #777;
  font-style: italic;
  margin: 0 0 20px ;
}
.testimonials .person-info {
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
}  
.testimonials .person-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 10px;
}
.testimonials .person-info h4 {
  font-size: 20px;
}
.testimonials .person-info span {
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: #777;
  margin-top: 10px;
}  


/* Start Contact Us  */
.contact {
  padding: 50px 0;
  position: relative;
  background-color: #ECECEC;
}
.contact h2 {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 47%;
}
.contact form .right {
  float: right;
  width: 47%;
}
.contact form input:not([type="submit"]), 
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 30px;
}
.contact form input[type="submit"] {
  border: none;
  height: 40px;
  width: 100%;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.contact form textarea {
  height: 100px;
} 
@media (max-width: 767px){
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: 1500;
  color: white;
  font-weight: bold;
  padding: 2px;
  line-height: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  animation: gelatine .5s infinite;
  cursor: pointer;
  display: none;
}

/* Start Footer  */
footer {
  background-color: #333;
  color: #EEE;
  padding: 15px;
  text-align: center;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}